*{
    margin: 0;
    padding: 0;
}

div{
    text-align: center;
    padding: 15px;
}

body{
    background-color: #ecf39e;
    color: #5c8001;
}

h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

h3{
    font-size: 2.0em;
    margin-bottom: 25px;
}

input{
    background-color: #e3f2fd;
    color: #5c8001;
    border: 1px solid #ecf39e;
    margin: 10px;
    padding: 5px;
}

input::placeholder{
    color: #5c8001;
}

span{
    font-size: 1.8em;
}

#percentage{
    width: 170px;
    border-radius: 15px;
    cursor: pointer;
    outline-color: #5c8001;
}

.container{
    width: 900px;
    margin: 50px auto;
}

.valuePayment{
    font-size: 1.2em;
}

.input-values{
    font-size: 1.2em;
    border: none;
    height: 25px;
}

.input-values::placeholder{
    color: #5c8001;
}